<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/olevezinho/index.json"/>
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="oLevezinho" /> <!--#gitignore-->
		</github>
	</packageSourceCredentials>
	<add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
</configuration>